@import 'tailwindcss';
@import '../../vendor/filament/filament/resources/css/theme.css';
@import 'tailwindcss/theme';
@plugin '@tailwindcss/forms';

@source '../../../../app/Filament';
@source '../../../../resources/views/filament';
