@import 'tailwindcss';
@import '../../vendor/filament/filament/resources/css/theme.css';
@import 'tailwindcss/theme';
@plugin '@tailwindcss/forms';

@source '../../../../app/Filament';
@source '../../../../resources/views/filament';
@source		'./app/Filament/**/*.php';
@source		'./app/Livewire/**/*.php';
@source        './resources/**/*.vue';
@source		'./resources/views/livewire/**/*.blade.php';
@source		'./resources/views/filament/**/*.blade.php';
@source	'./vendor/filament/**/*.blade.php';
@source  './resources/**/*.blade.php';
@source './resources/**/*.js';
@source './storage/framework/views/*.php';
@source './vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
